@import "tailwindcss";

@theme inline {
  --color-surface-container-lowest: #ffffff;
  --color-on-tertiary-fixed: #001e2b;
  --color-on-primary-fixed: #1b1b1b;
  --color-on-tertiary-fixed-variant: #1d4c60;
  --color-tertiary-container: #001e2b;
  --color-tertiary: #000000;
  --color-on-primary: #ffffff;
  --color-secondary: #5f5e5e;
  --color-on-surface-variant: #4c4546;
  --color-on-background: #1b1c1c;
  --color-outline: #7e7576;
  --color-primary-fixed: #e2e2e2;
  --color-surface-dim: #dbdad9;
  --color-primary-fixed-dim: #c6c6c6;
  --color-on-secondary-fixed-variant: #474746;
  --color-inverse-on-surface: #f2f0f0;
  --color-surface-container-low: #f5f3f3;
  --color-surface-variant: #e4e2e2;
  --color-surface-container: #efeded;
  --color-inverse-primary: #c6c6c6;
  --color-on-primary-fixed-variant: #474747;
  --color-on-tertiary-container: #5f89a0;
  --color-surface-container-highest: #e4e2e2;
  --color-surface-bright: #fbf9f9;
  --color-outline-variant: #cfc4c5;
  --color-on-secondary-container: #636262;
  --color-secondary-container: #e2dfde;
  --color-primary-container: #1b1b1b;
  --color-inverse-surface: #303031;
  --color-on-error: #ffffff;
  --color-secondary-fixed-dim: #c8c6c5;
  --color-background: #fbf9f9;
  --color-on-secondary: #ffffff;
  --color-surface-container-high: #e9e8e7;
  --color-on-surface: #1b1c1c;
  --color-surface-tint: #5e5e5e;
  --color-error: #ba1a1a;
  --color-on-secondary-fixed: #1c1b1b;
  --color-on-primary-container: #848484;
  --color-secondary-fixed: #e5e2e1;
  --color-primary: #000000;
  --color-surface: #fbf9f9;
  --color-on-tertiary: #ffffff;
  --color-error-container: #ffdad6;
  --color-tertiary-fixed: #c1e8ff;
  --color-on-error-container: #93000a;
  --color-tertiary-fixed-dim: #a1cde5;
  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fbf9f9;
  color: #1b1c1c;
  font-family: var(--font-inter), sans-serif;
}

a,
button {
  cursor: pointer;
}
